<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>pkgDeploy\ContosoAdsWeb.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ContosoAdSite2</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoAdsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ad99ung1th.database.windows.net,1433;Initial Catalog=contosoadsite_db;Integrated Security=False;User ID=msadmin@ad99ung1th;Password=P@ssword1;Connect Timeout=60;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoAdsCommon.ContosoAdsContext, ContosoAdsCommon" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=contosodata1;AccountKey=1QSH8bgNf+tdTh/xXPVt/Vgze9RNQvB7q5vL0XG4CRyD+icYHGF2sBqcDC93tMzNSj5xfW+GgcMUQ72vepm5dw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=contosodata1;AccountKey=1QSH8bgNf+tdTh/xXPVt/Vgze9RNQvB7q5vL0XG4CRyD+icYHGF2sBqcDC93tMzNSj5xfW+GgcMUQ72vepm5dw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoAdsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ad99ung1th.database.windows.net,1433;Initial Catalog=contosoadsite_db;Integrated Security=False;User ID=msadmin@ad99ung1th;Password=P@ssword1;Connect Timeout=60;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>